body{
    font: normal 13pt Arial;
    background-color: aquamarine;
}
button{
    background-color: brown;
    color: white;
    border: solid 3px black;
    border-radius: 20px;
    padding: 10px;
}